
.hero {
    height: 212px;
    width: 799px;
}

.heroSection {
    background-color: var(--color-black);
    color: var(--color-white);
    height: 270px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}