
.card-wrapper{
    height: 258px;
    width: 160px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-top: 10px;
  }
  
  .card{
    border-radius: 10px;
    flex: 1;
    height: 180px;
    display: flex;
    flex-direction: column; 
    overflow: hidden;
    background-color: var(--color-white);
  }
  
   .card-img-frame{
    width: 100%;
    height: 160px;
    
  } 
   
  .card-img-frame img{
     width: 100%;
     height: 100%;
     object-fit: cover;
  }
  
   .card-content{
      background-color: var(--color-white);
      height: 30px;
      flex: 1;
      padding: 2px;
  }
  
  .card-content-pill{
      background-color: var(--color-black);
      color: var(--color-white);
      border-radius: 10px;
      padding: 4px 8px ;
      margin-left: 5px;
      font-size: 10px;
  }
  
  
  
  .card-label{
      height: 30px;
      color:var(--color-white);
    }