
.wrapper {
    display: flex;
    align-items: center;
    height: 51px;
}
.search {
    padding: 14px 20px;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid var(--color-black);
    width: 520px;
    height: 100%;
}


.searchButton {
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 14px 20px;
    border: 1px solid var(--color-black);
    border-left: none;
    cursor: pointer;
    height: 100%;
}